# {{title}} APIs
{{#groupedOperations}}
## {{tag}}
|Intent|API|Path|Source File|
|:---|:---|:---|:---|
{{#ops}}
|{{{description}}}|`{{{operationId}}}`|`{{{httpMethod}}} {{{path}}}`|`{{{sourceFile}}}`|
{{/ops}}
{{/groupedOperations}}
